## Trig Functions

In this notebook we will define two functions: sin(x),cos(x).
Then we will tabulate the values of sin(x) and cos(x) for x ranging from 0 to 2.
We will then print the first 10 values in a table.

In [5]:
import numpy as np

#sin function
def sin_func(x):
    return np.sin(x)

In the next cell we will define the cosine function.

In [9]:
#cos function
def cos_func(x):
    return np.cos(x)

# Tabulate

Now we'll create a table of values for x ranging from 0 to 2, with 1000 entries.
For each value of x, we will calculate sin(x) and cos(x) using the defined functions above.

In [13]:
import pandas as pd

x_values = np.linspace(0, 2, 1000)
sin_values = sin_func(x_values)
cos_values = cos_func(x_values)

# Create a DataFrame to store the values
trig_table = pd.DataFrame({'x': x_values, 'sin(x)': sin_values, 'cos(x)': cos_values})

## Displaying the First 10 Values

Now, we will print out the first 10 values of x, sin(x), and cos(x).

In [15]:
# Print the first 10 values in columns
print(f"{'x':<10} {'sin(x)':<10} {'cos(x)':<10}") #each column has 10 spaces
for i in range(10): #0-9 inclusive
    #for each i-th value in the table, print 10 spaces with 2 after decimal
    print(f"{trig_table['x'][i]:<10.2f} {trig_table['sin(x)'][i]:<10.5f} {trig_table['cos(x)'][i]:<10.5f}")

x          sin(x)     cos(x)
0.00       0.00000    1.00000
0.00       0.00200    1.00000
0.00       0.00400    0.99999
0.01       0.00601    0.99998
0.01       0.00801    0.99997
0.01       0.01001    0.99995
0.01       0.01201    0.99993
0.01       0.01401    0.99990
0.02       0.01602    0.99987
0.02       0.01802    0.99984